<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">{{ labelEstado }}</div>
    <div class="dx-field-value">

      <dx-select-box
        [items]="estados"
        [inputAttr]="{ 'aria-label': 'Product' }"
        displayExpr="Label"
        placeholder="Selecione Estado"
        [value]="estadoPadraoSelecionado"
        (onValueChanged) = "onEstadoSelecionado($event)"
      ></dx-select-box>

    </div>
    <div class="dx-field-label">{{ labelCidade }}</div>
    <div class="dx-field-value">
      <dx-select-box
        [items]="municipios"
        [inputAttr]="{ 'aria-label': 'Product' }"
        placeholder="Selecione Cidade"
        displayExpr="name"
        [value]="cidadePadraoSelecionado"
        (onValueChanged) = "onCidadeSelecionada($event)"
        
      ></dx-select-box>
  </div>
</div>
